.app-header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  .logo-wrapper{
    img {
      padding: 5px;
      width: 50px;
      background: inherit;
      margin: 5px;
    }
    span {
      font-weight: 700;
      font-family: monospace;
    }
  }
}
