.app-header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 5px;
  .logo-wrapper {
    span {
      font-weight: 700;
      font-family: monospace;
    }
    .icon {
      font-size: 30px;
    }
  }
}
